@model Category

<form method="post">
    <div class="mb-3">
        <label for="categoryName" class="form-label">Category Name</label>
        <input type="text" asp-for="Name" class="form-control" id="categoryName" aria-describedby="CategoryName">
        <span asp-validation-for="Name" class="text-danger small"></span>
        
    </div>
    <div class="mb-3">
        <label for="displayOrder" class="form-label">Display Order</label>
        <input asp-for="DisplayOrder" class="form-control" id="displayOrder">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

