@model Category

<div class="container">
    <div class="row pt-4">
        <div class="col-6">
            <div class="row">
                <h2 class="text-primary">Add Category</h2>
            </div>
            <div class="row">
               <input type="text" placeholder="Category Name" />
            </div>
            <div class="row">
                <input type="text" placeholder="Display Order" />
            </div>
            <div class="row">
                <input type="submit" class="btn btn-primary" name="Submit" value="Submit" />
            </div>
        </div>
        
    </div>
</div>
